.header{
    margin: 10px;
    display: flex;
    justify-content: space-between;
    color: orangered;
}
.un-list{
    display: flex;
    /* justify-content: space-between; */
    gap: 20px;
    list-style: none;
}
.header ul li a{
    text-decoration: none;
    color: orange;
}
.active{
    color: aqua !important;
    text-decoration: underline;

}