 body {
      margin: 0;
      padding: 0;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Arial, sans-serif;
      background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
      color: white;
    }
.container {
    text-align: center;
}

h1 {
    font-size: 120px;
    margin: 0;
    color: #00ff51;
}

h2 {
    margin: 10px 0;
    font-size: 28px;
}

p {
    font-size: 16px;
    opacity: 0.8;
    margin-bottom: 30px;
}

a {
    text-decoration: none;
    padding: 12px 25px;
    background-color: #00ff51;
    color: black;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
}

a:hover {
    background-color: #00cc41;
}