

<p style="  margin-top: 40px; font-size: 50px; border: 2px; border-color: aqua;color: white; background-color: rgb(66, 64, 62); height: 50px; width: 150px; align-items: center; text-align: center; border-radius: 5px;">{{count}}</p>
<div style="display: flex; margin: 10px; padding: 20px; ">
<button   (click)="updateValue()" style=" background-color: red; height: 100px; width: 100px; border-radius: 50%; margin: 10px;">Increment</button>
<button (click)="decrementValue()" style=" background: black; height: 100px; width: 100px; border-radius: 50%; margin: 10px;">Decrement</button>
<button (click)="resetValue()" style=" height: 100px; width: 100px; border-radius: 50%; margin: 10px;">Reset</button>

</div>
